{% load static %}
<header class="header">
    <nav class="header__container">
        <ul class="header__list">
            <a href="{% url "index" %}"><img src="{% static "img/icons/logo.svg" %}" alt="logo" class="header__logo"></a>
            <li class="header__item"></li>
                {% if request.user.is_authenticated %}
                    <li class="header__item"><a href="{% url "core:main" %}?all=1" class="header__link">Polls</a></li>
                    <li class="header__item"><a href="{% url "core:main" %}?all=" class="header__link">My&nbsp;Polls</a></li>
                    <li class="header__item"><a href="{% url "core:create" %}" class="header__link">Create</a></li>
                {% endif %}
        </ul>
        <ul class="header__list">
            <li class="header__item">    
                <label for="theme-checkbox" class="header__link header__link--mobile themes-checkbox__container">
                    <span>theme</span>
                    <div class="themes-checkbox switch-checkbox">
                        <input type="checkbox" id="theme-checkbox" checked name="theme-checkbox">
                    </div>
                </label>
            </li>
            {% if request.user.is_authenticated %}
                <li class="header__item"><a href="{% url "registration:account" %}" class="header__link registration">
                    {{request.user}}</a>
                </li>
                <li class="header__item"><a href="{% url "registration:sign_out" %}" class="header__link registration">
                    Sign&nbsp;Out</a>
                </li>
                {% else %}
                <li class="header__item"><a href="{% url "registration:sign_in" %}" class="header__link registration">
                    Sign&nbsp;In</a>
                </li>
                <li class="header__item"><a href="{% url "registration:sign_up" %}" class="header__link registration">
                    Sign&nbsp;Up</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="header--mobile">
        <a href="{% url "index" %}"><img src="{% static "img/icons/logo.svg" %}" alt="logo" class="header__logo--mobile"></a>
        <div class="header__burger">
            <span></span>
        </div>
    </div>
</header>
