// styles
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "reset.scss";

@import "partials/header.scss";
@import "partials/footer.scss";
// /styles

// container
.container {
    flex: 1;
    max-width: $mw;
    margin: 0 auto 2rem auto;
    width: 100%;
    flex-grow: 1;
    
    @media (max-width: $breakpoint1) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint2) {
        max-width: 750px;
    }

    @media (max-width: $breakpoint3) {
        max-width: none;
    }

    &--registration {
        min-height: calc(100vh - $header-height);
    }

    &--poll {
    }
}
// /container

html {
    font-size: 16px;

    @media (max-width: $breakpoint1) {
        font-size: 14px;
    }

    @media (max-width: $breakpoint2) {
        font-size: 12px;
    }

    @media (max-width: $breakpoint3) {
        font-size: 10px;
    }
}

body {
    color: var(--bg-color-opposite);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: all linear 300ms;

    background-image: radial-gradient(
            circle at center,
            rgba(255, 255, 255, 0.005) 0,
            rgba(255, 255, 255, 0.005) 1px,
            transparent 1px
        )
        linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px)
        linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
    background-size: 0.625rem 0.625rem;
    background-attachment: fixed;
    background-color: var(--bg-color);
}

.main-title {
    font-family: $fontfamily_secondary;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 0.25rem;
    font-weight: 600;
}

.active {
    display: block !important;
}

.button {
}

hr {
    width: 100%;
    border-top: 2px solid var(--bg-color);
    margin-bottom: 0.5rem;
}

.logo-svg {
    filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(49deg) brightness(106%) contrast(95%);
}

.link {
    font-size: 1.25rem;
    color: var(--element-color-opposite);
    transition: all linear 100ms;

    @media only screen and (max-width: $breakpoint2) {
        font-size: 1.75rem;
    }

    &:visited {
        color: var(--element-color-opposite);
    }

    &:hover {
        color: var(--bg-color-opposite);
        text-decoration: underline;
        transition: all linear 100ms;
    }

    &__text {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0.5rem;

        @media only screen and (max-width: $breakpoint2) {
            font-size: 1.5rem;
        }
    }
}

.default-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 0.1875rem solid var(--element-color-opposite);
    border-radius: 0.3125rem;
    outline: none;
    transition: all ease-out 200ms;

    &:hover {
        border: 0.1875rem solid var(--bg-color-opposite);
        transition: all ease-out 200ms;
    }

    &:checked {
        background-color: var(--element-color-opposite);
        border: 0.125rem solid var(--element-color-opposite);
        transition: all ease-out 200ms;
    }
}

.default-radio {
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: left;
    height: 1.875rem;

    input {
        display: none;

        & + span {
            display: inline-block;
            position: relative;
            padding-left: 1.875rem;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: -1px;
                left: 0;
                border-radius: 50%;
                margin-right: 0.3125rem;
                width: 1rem;
                height: 1rem;
                background: var(--element-color-opposite);
            }

            &:after {
                content: "";
                display: block;
                width: 0.5rem;
                height: 0.5rem;
                background: var(--element-color);
                position: absolute;
                border-radius: 50%;
                top: 3px;
                left: 4px;
                opacity: 0;
                transform: scale(0, 0);
                transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
            }
        }

        &:checked + span:after {
            opacity: 1;
            transform: scale(1, 1);
        }
    }
}

.ripple-button {
    line-height: 3.75rem;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    padding: 0 1.875rem 0 1.875rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 1.625rem;
    background-color: var(--element-color-opposite);
    color: var(--bg-color);
    border: 0.1875rem solid transparent;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease 0s;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 1.625rem;
        border-color: var(--element-color-opposite);
        background-color: var(--element-color);
        color: var(--element-color-opposite);
        transition: all 0.3s ease 0s;
        transform: scale(0);
        z-index: 0;
    }

    &:hover {
        color: var(--bg-color-opposite);

        &::before {
            transform: scale(1);
        }
    }

    span {
        position: relative;
        z-index: 3;
    }
}

.default-button {
    padding: 0.5rem 1.875rem;
    font-size: 1rem;
    border-radius: 0.75rem;
    background-color: var(--element-color-opposite);
    color: var(--bg-color);
    border: 2px solid transparent;
    box-sizing: border-box;
    margin-right: 2.25rem;
    transition: all linear 250ms;

    &:hover {
        border-color: var(--bg-color);
        background-color: var(--element-color);
        color: var(--bg-color-opposite);
        transition: all linear 250ms;
    }

    .default-checkbox {
        border: 3px solid var(--element-color);

        &:hover {
            border: 3px solid var(--element-color-opposite);
        }

        &:checked {
            background-color: var(--element-color);
            border: 2px solid var(--element-color);
        }
    }
}

.switch-checkbox {
    padding: 0 0 0 3rem;
    position: relative;
    top: -1.25rem;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    @media only screen and (max-width: $breakpoint2) {
        top: 0;
    }

    &::before {
        content: "";
        width: 3.125rem;
        height: 1.25rem;
        border-radius: 1.25rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: var(--bg-color-opposite);
    }

    &::after {
        content: "";
        position: absolute;
        width: 1.875rem;
        height: 1.875rem;
        left: 0;
        top: -0.3125rem;
        border-radius: 50%;
        transition: all 0.3s ease 0s;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
        background-color: var(--bg-color);
    }

    &.active::before {
        background-color: var(--bg-color-opposite);
    }

    &.active::after {
        background-color: var(--bg-color);
        left: 1.25rem;
    }

    input {
        display: none;
    }

    label {
        display: none;

        @media only screen and (max-width: $breakpoint2) {
            display: block;
        }
    }
}

.redirect-buttons {
    display: flex;
    justify-content: center;
}

.redirect-button {
    display: block;
    padding: 0.5rem 1.875rem;
    margin-right: 1.5rem;
    font-weight: 700;
    border-radius: 0.75rem;
    font-size: 1rem;
    line-height: 1.25rem;
    background-color: var(--element-color);
    color: var(--bg-color-opposite);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all linear 250ms;

    &:hover {
    background-color: var(--element-color-opposite);
        color: var(--bg-color);
    }
}

.centered-element {
    text-align: center;
    display: flex;
    justify-content: center;
}

.messages {
    position: absolute;
    left: 0.625rem;
    bottom: 0;
    z-index: 1;
}

.message {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;

    &-delete {
        padding: 1.25rem 2.5rem;
        background-color: var(--bg-color-opposite);
        color: var(--bg-color);
    }

    strong {
        margin-right: 1.5rem;
    }
}

.close {
    background-color: var(--bg-color-opposite);

    span {
        color: var(--element-color);
        font-size: 2.5rem;
        display: inline-block;
        text-align: center;
        line-height: 0.5rem;
        position: relative;
        top: 0.375rem;
    }
}

.home {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__title {

    }

    &__main {
        flex-grow: 1;
    }

    &__link {
        align-self: center;
    }
}

.themes-checkbox {
    
    &__container {
        
    }
}

// other styles
@import "pages/core.scss";
@import "pages/registration.scss";
@import "pages/site_map.scss";
// /other styles
