{% extends "base.html" %} 

{% block title %}{{title}}{% endblock title %} 

{% block content %}
<div class="container container--registration">
    {% include "partials/messages.html" %}

    <div class="registration__container">
        <h2 class="registration__title main-title">Password reset form</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="registration__input registration__input--last">
                <label for="username_or_email">email or username:</label>
                <input type="text" id="username_or_email" name="username_or_email" placeholder="Enter your email or username">
            </div>
            <div class="registration__button">
                <button class="ripple-button" type="submit"><span>Get reset link</span></button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
